#wrapper                {
                            margin: auto;
                            width: 100%;
                            background-color: #DCC7AA;
                            min-width: 960px;
                            max-width: 2048px;


}

body                    {
                            background-color: #FFFFFF;
                            /* background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);*/
                            background-repeat: no-repeat;
                            color: #666666;
                            font-family: Arial, Helvetica, sans-serif;
}

header                  {

                            background-repeat: no-repeat;
                            height: 60px;
                            padding-top: 15px;
                            text-align: center;
                            background-color: #6B7A8F;
                            color: #FFFFFF;
}

main                    {
                            margin-left: 190px;
                            padding-top: 1px;
                            padding-right: 20px;
                            padding-bottom: 20px;
                            padding-left: 30px;
                            display: block;
                            background-color: #FFFFFF;
}

header h1               {
                            font-family: Georgia, "Times New Roman", serif;
                            margin-bottom: 0;
                            margin-top: 0;

}

nav                     {
                            float: left;
                            width: 160px;
                            padding: 20px;
                            font-weight: bold;

}

nav ul                   {
                            list-style-type: none;
                            margin: 0;
                            padding-left: 0;
                            font-size: 1.2em;

}

nav a:link               {
                            color: #6B7A8F;
}

nav a:visited            {
                            color: #344873;
}

nav a:hover              {
                            color: #FFFFFF;
}

nav a                    {
                            text-decoration: none;

}
h1                       {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
                            text-shadow: 3px 3px #CCCCCC
}
h2                       {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
}

h3                       {
                            font-family: Georgia, "Times New Roman", serif;
}
li a                     {
                            color: #F7882F;
}
a                        {
                            color: #344873;
}
table a                  {
                            color: #F7882F;
}

main ul                  {
                            list-style-image: url(marker.gif);

}

table          {
    border: 1;

}

th             {
    text-align: center;
    background-color: #0066ff;
    color: white;
}

table caption  {
    font-size: 200%;
}

tr:hover             {
    background-color: #f5F5F5

}

footer                   {
                            margin-left: 190px;
                            background-color: #FFFFFF;
                            font-style: italic;
                            font-size: 75%;
                            text-align: center;
                            font-family: Georgia, "Times New Roman", serif;
                            padding: 20px;
}


header, main, nav, footer, figure, figcaption, aside, section, article {

                display: block;
}

#mobile                  {
                            display: none;
}

#desktop                 {
                            display: inline;
}

.text                    {
                            text-align: left;
}

tr:nth-of-type(odd)      {
                            background-color: #F5FAFC
}
#vennDwrapper            {
                            margin: auto;
                            width: 80%;
                            background-color: #ffffff;
                            min-width: 960px;
                            max-width: 2048px;
                            border: 1px solid #000;


}
#vennD div               {
                            height: 340px;
                            width: 340px;
                            border-radius: 170px;
                            border: 1px solid #000;
                            float: left;
                            opacity: .6;
                            margin-top: 25px;
                            font-size: 12px;
                            color: #FFFFFF;
}

#vennD div:nth-child(1)  {

                            background-color: #F7882F;
                            color: #4d2e00;
                            padding-right: 30px;
                            text-align: center;

}

#vennD div:nth-child(2)  {

                            background-color: #F7C331;
                            color: #4d2e00;
                            padding-left: 30px;
                            margin-left: -75px;
                            text-align: center;
}

#vennD #overlap          {
                            border: 1px solid #000;
                            height: 170px;
                            width: 75px;
                            left: -370px;
                            top: 80px;
                            color: #4d2e00;
                            position: relative;
                            text-align: center;
                            opacity: 1;
                            z-index: 10;
                            font-size: 12px;
}


@media only screen and (max-width: 64em)  {

                body                        { margin: 0; background-color: #FFFFFF; }
                #wrapper                    { min-width: 0; width: auto; box-shadow: none; }
                main                        { margin-left: 0; }
                nav                         { float: none; width: auto; text-align: center; padding: 0.5em; }
                nav li                      { display: inline; padding-top: 0.25em; padding-bottom: 0.25em; padding-right: 0.75em; padding-left: 0.75em; }
                footer                      { margin-left: 0; }
                #vennD div:nth-child(2)     { top: 0px; margin-top: -140px; padding-left: 30px; text-align: center; }
                #vennD #overlap             { top: -460px; left: 10px; width: 340px; height 75px; text-align: bottom; padding-top: 40px;}
                #vennD div                  { height: 400px; }
}

@media only screen and (max-width: 37.5em) {
                header     { padding-top: 1em; }
                main       { font-size: 90%; padding-top: 0.1em; padding-bottom: 0.1em; padding-left: 1em; padding-right: 1em; }
                h1         { font-size: 1.5em; }
                nav        { padding: 0; }
                nav li     { display: block; margin: 0; border-bottom: 2px solid #330000; }
                nav a      { display: block; }
                #mobile    { display: inline; }
                #desktop   { display: none; }
                body       { margin: 0; background-color: #FFFFFF; }
                #wrapper   { min-width: 0; width: auto; box-shadow: none; }
                footer     { margin-left: 0; }
                #vennD div:nth-child(2)     { top: 0px; margin-top: -140px; padding-left: 30px; text-align: center; }
                #vennD #overlap             { top: -460px; left: 10px; width: 340px; height 75px; text-align: bottom; padding-top: 40px;}
                #vennD div                  { height: 400px; }

}
