#wrapper                {
                            margin: auto;
                            width: 90%;
                            background-color: #e9dbc9;
                            min-width: 960px;
                            max-width: 2048px;


}

body                    {
                            background-color: #e9dbc9;
                            /* background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);*/
                            background-repeat: no-repeat;
                            color: #666666;
                            font-family: Arial, Helvetica, sans-serif;
                            margin: 0;
                            padding: 0;

}

header                  {

                            background-repeat: no-repeat;
                            height: 60px;
                            padding-top: 15px;
                            text-align: center;
                            background-color: #e9dbc9;
                            color: #FFFFFF;
}

main                    {
                            margin-left: 200px;
                            padding-top: 0px;
                            padding-right: 0px;
                            padding-bottom: 0px;
                            padding-left: 0px;
                            display: block;
                            background-color: #e9dbc9;
                            height: 100%;

}

header h1               {
                            font-family: Georgia, "Times New Roman", serif;
                            margin-bottom: 0;
                            margin-top: 0;

}

nav                     {
                            float: left;
                            width: 160px;
                            padding: 20px;
                            font-weight: bold;
                            height: 100%;


}

nav ul                   {
                            list-style-type: none;
                            margin: 0;
                            padding-left: 0;
                            font-size: 1.2em;

}

nav a:link               {
                            color: #6B7A8F;
}

nav a:visited            {
                            color: #344873;
}

nav a:hover              {
                            color: #FFFFFF;
}

nav a                    {
                            text-decoration: none;

}


h1                       {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
                            text-shadow: 3px 3px #CCCCCC
}
h2                       {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
}

h3                       {
                            font-family: Georgia, "Times New Roman", serif;
}

h5                       {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
                            font-size: 1.75em;
                            margin: 10px;
}

h2 a                     {
                            color: #F7C331;
}

ol a                     {
                            color: #F7C331;
}
li a                     {
                            color: #F7882F;
}

a                        {
                            color: #344873;
}

main ul                  {
                            list-style-image: url(marker.gif);

}

footer                   {
                            margin-left: 200px;
                            background-color: #e9dbc9;
                            font-style: italic;
                            font-size: 75%;
                            text-align: center;
                            font-family: Georgia, "Times New Roman", serif;
                            padding: 20px;
}


header, main, nav, footer, figure, figcaption, aside, {

                display: block;
}

.headingtext             {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
                            font-size: 20px;
}

.bigheadingtext          {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
                            font-size: 24px;
}
.footertext              {
                            color: #6B7A8F;
                            font-family: Georgia, "Times New Roman", serif;
                            font-size: 20px;
                            margin: 10px;
}
.text                    {
                            text-align: left;
}

tr:nth-of-type(odd)      {
                            background-color: #F5FAFC
}
#footerpusher           {
                            margin: 0;
                            width: 740px;
                            background-color: #e9dbc9;
                            border: 1px solid #000;
                            height: 900px;
                            padding: 0px;


}
#vennD div               {
                            height: 380px;
                            width: 380px;
                            border-radius: 190px;
                            border: 1px solid #000;
                            float: left;
                            opacity: .6;
                            margin-top: 50px;
                            font-size: 12px;
                            color: #FFFFFF;
                            display: block;
                            overflow: visible;

}

#vennD div:nth-child(1)  {

                            background-color: #F7882F;
                            color: #4d2e00;
                            padding-right: 30px;
                            text-align: center;

}

#vennD div:nth-child(2)  {

                            background-color: #F7C331;
                            color: #4d2e00;
                            padding-left: 30px;
                            margin-left: -90px;
                            text-align: center;
}

#vennD #overlap          {
                            border: 1px solid #000;
                            height: 220px;
                            width: 80px;
                            margin-left: -410px;
                            top: 100px;
                            color: #4d2e00;
                            position: relative;
                            text-align: center;
                            opacity: 1;
                            padding-top: 50px;
                            font-size: 10px;
}


@media only screen and (max-width: 1024px)  {

                body                        { margin: 0; background-color: #FFFFFF; }
                #wrapper                    { min-width: 0; width: auto; box-shadow: none; }
                main                        { margin-left: 0; }
                nav                         { float: none; width: auto; text-align: center; padding: 0.5em; }
                nav li                      { display: inline; padding-top: 0.25em; padding-bottom: 0.25em; padding-right: 0.75em; padding-left: 0.75em; }
                footer                      { margin-left: 0; }
                #vennD div:nth-child(2)     { margin-top: 50px; padding-left: 30px; text-align: center; }
                #vennD #overlap             { margin-top: 40px; left: 40px; width: 80px; height 220px; text-align: bottom; padding-top: 40px;}
                #vennD div                  { width: 340px; }
}

@media only screen and (max-width: 667px) {
                header     { padding-top: 1em; }
                main       { font-size: 90%; padding-top: 0.1em; padding-bottom: 0.1em; padding-left: 1em; padding-right: 1em; }
                h1         { font-size: 1.5em; }
                nav        { padding: 0; }
                nav li     { display: block; margin: 0; border-bottom: 2px solid #330000; }
                nav a      { display: block; }
                body       { margin: 0; background-color: #FFFFFF; }
                #wrapper   { min-width: 0; width: auto; box-shadow: none; }
                footer     { margin-left: 0; }
                #vennD div:nth-child(2)     { margin-left: 0px; margin-top: -150px; text-align: center; padding-top: 150px; }
                #vennD #overlap             { top: -200px; left: 75px; width: 300px; padding-top: 70px;}
                #vennD div                  { width: 340px; margin-top: 0px; height: 380px; }

}
